html {
  scroll-behavior: smooth;
}

/* Fondo general */
body {
  background: linear-gradient(135deg, #4294e0, #4c4d4b19);
  font-family: Arial;
  color: white;
  margin: 0;
  padding-top: 80px; 
}
.registro {
  padding: 50px 20px;
  text-align: center;
}

/* Contenedor del formulario */
.formulario {
 width: 350px;
  margin: 30px auto;
  padding: 25px;
  background-color: #1f1f1f;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

/* Cada campo */
.campo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 15px;
}

/* Inputs */
input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

/* Botón */
button {
  margin-top: 10px;
  padding: 10px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


button:hover {
 background-color: #084298;
  transform: scale(1.05);
}
.navbar {
   position: fixed;   
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0d0d0d;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; 
  box-sizing: border-box;
}

.logo {
  color: #0d6efd;
  font-size: 28px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.menu li {
  display: inline-block;
}

.menu a {
  position: relative;
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

.menu a:hover {
  color: #0d6efd;
}
.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 48px;
  color: #0d6efd;
}

.hero p {
  font-size: 20px;
  color: #dcdcdc;
}

.productos {
  padding: 40px;
  text-align: center;
}

.contenedor-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 30px;
  justify-items: center;
}

.card-producto {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 260px;
  background-color: white;
  color: #111;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.card-producto img {
  width: 100%;
  border-radius: 10px;
}

.card-producto h3 {
  margin-top: 15px;
}
.card-producto:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
}
.precio {
  display: block;
  font-size: 22px;
  font-weight: bold;
  color: #0d6efd;
  margin: 15px 0;
}
.productos {
  padding: 40px;
  text-align: center;
}



.card-producto {
  width: 250px;
  background: white;
  color: #111;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  text-align: center;
}

.card-producto img {
  width: 100%;
  border-radius: 10px;
}

.precio {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #0d6efd;
  margin: 10px 0;
}
.cantidad {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.cantidad button {
  width: 35px;
  height: 35px;
  font-size: 18px;
  border-radius: 50%;
}
.productos h2 {
  font-size: 35px;
  margin-bottom: 40px;
  color: white;
  text-align: center;
}
.texto-registro {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.texto-registro a {
  color: #0d6efd;
  text-decoration: none;
  font-weight: bold;
}

.texto-registro a:hover {
  text-decoration: underline;
}
.btn-eliminar {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  float: right;
}